*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
    background-color: cornflowerblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container{
    display: grid;
    height: 100vh;
    background-color: rgb(137, 245, 110);
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: 
    "header     header     header    header     header"
    "sidebar    sidebar     main      main        main"
    "sidebar    sidebar   main      main        main"
    "sidebar    sidebar   content   content     content"
    "footer     footer      footer      footer      footer"
    ;
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
    gap: 5px;
    padding: 5px;
}

.item{
    background-color: rgb(241, 175, 175);
    border: 2px solid #000;
}

.header{
    background-color: #F75454;
    grid-area: header;
}

.sidebar{
    background-color: #03939A;
    grid-area: sidebar;
}

.main{
    background-color: #4F6DF7;
    grid-area: main;
}

.content{
    background-color: #F7B856;
    grid-area: content;
}

.footer{
    background-color: #6F6F6F;
    grid-area: footer;
}

@media screen and (max-width:900px){
    .container{
        grid-template-areas:
        "header     header     header    header     header"
        "sidebar    main     main      main        main"
        "sidebar    main   main      main        main"
        "sidebar    content   content   content     content"
        "footer     footer      footer      footer      footer"
    ;
    }
}

@media screen and (max-width:600px) {
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 0.4fr 1.5fr 0.8fr 0.5fr;
        grid-template-areas: 
    "header"
    "sidebar"
    "main"
    "content"
    "footer"
    ;
    }


}
